[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
toolz = "*"
torch = "*"
pandas = "*"
tqdm = "*"
numpy = "*"
pytorch-transformers = "*"
typing = "*"
pytest = "*"
dill = "*"
scikit-learn = "*"
Keras = "*"
PyYAML = "*"
black = "*"
pre-commit = "*"
neural-wsd = {editable = true,path = "."}

[requires]
python_version = "3.7"
